<strong>Olá, {{ deliveryman }} </strong>

<p> Entrega cancelada! </p>

<strong>Destinatário: </strong>{{ recipient }} <br />
<strong>Produto: </strong>{{ product }} <br />
<br />
<small>A causa do cancelamneto da entrega foi.{{description}}</small>
<br />
