<strong>Olá, {{ deliveryman }} </strong>

<p>Nova entrega disponível para você! </p>

<strong>Destinatário: </strong>{{ recipient }} <br />
<strong>Produto: </strong>{{ product }} <br />
<br />
<small>Esta encomenda poderá ser retirada, a partir das <strong>08:00</strong> até <strong>18:00</strong>!</small>
<br />
